
<STYLE type="text/css">

body {margin-top: 0px;margin-left: 0px;}

#page_1 {position:relative; overflow: hidden;margin: 30px 0px 46px 0px;padding: 0px;border: none;width: 816px;}
#page_1 #id_1 {border:none;margin: 0px 0px 0px 0px;padding: 0px;border:none;width: 816px;overflow: hidden;}
#page_1 #id_2 {border:none;margin: 49px 0px 0px 72px;padding: 0px;border:none;width: 665px;overflow: hidden;}

#page_1 #dimg1 {position:absolute;top:0px;left:1px;z-index:-1;width:816px;height:938px;}
#page_1 #dimg1 #img1 {width:816px;height:938px;}




#page_2 {position:relative; overflow: hidden;margin: 39px 0px 46px 72px;padding: 0px;border: none;width: 744px;}
#page_2 #id_1 {border:none;margin: 0px 0px 0px 0px;padding: 0px;border:none;width: 744px;overflow: hidden;}
#page_2 #id_2 {border:none;margin: 435px 0px 0px 0px;padding: 0px;border:none;width: 665px;overflow: hidden;}

#page_2 #dimg1 {position:absolute;top:1px;left:0px;z-index:-1;width:744px;height:938px;}
#page_2 #dimg1 #img1 {width:816px;height:938px;}




.ft0{font: italic 32px 'Arial';line-height: 37px;}
.ft1{font: bold 11px 'Arial';color: #ffffff;line-height: 14px;}
.ft2{font: 1px 'Arial';line-height: 1px;}
.ft3{font: bold 11px 'Arial';color: #808080;line-height: 14px;}
.ft4{font: 27px 'Arial';color: #00162b;line-height: 32px;}
.ft5{font: 16px 'Arial';color: #55939b;line-height: 14px;}
.ft6{font: 11px 'Arial';color: #333333;line-height: 14px;}
.ft7{font: 11px 'Arial';color: #333333;line-height: 14px;}
.ft8{font: 16px 'Times New Roman';color: #ffffff;line-height: 14x;}
.ft9{font: 39px 'Arial';color: #ffffff;line-height: 24px;}
.ft10{font: 9px 'Arial';color: #ffffff;line-height: 12px;position: relative; bottom: 5px;}
.ft11{font: 16px 'Arial';color: #ffffff;line-height: 18px;}
.ft12{font: 67px 'Arial';color: #ffffff;line-height: 56px;}
.ft13{font: 16px 'Arial';color: #ffffff;line-height: 17px;}
.ft14{font: 15px 'Arial';color: #ffffff;line-height: 17px;}
.ft15{font: 1px 'Arial';line-height: 8px;}
.ft16{font: 16px 'Arial';color: #00162b;line-height: 18px;}
.ft17{font: 9px 'Arial';color: #00162b;line-height: 12px;position: relative; bottom: 5px;}
.ft18{font: 1px 'Arial';line-height: 2px;}
.ft19{font: 9px 'Times New Roman';color: #ffffff;line-height: 12px;position: relative; bottom: 5px;}
.ft20{font: 9px 'Arial';color: #00162b;line-height: 12px;}
.ft21{font: 6px 'Arial';color: #333333;line-height: 6px;}
.ft22{font: 11px 'Arial';color: #333333;margin-left: 3px;line-height: 17px;}
.ft23{font: 11px 'Arial';color: #333333;margin-left: 4px;line-height: 17px;}
.ft24{font: 11px 'Arial';color: #333333;margin-left: 3px;line-height: 18px;}
.ft25{font: 11px 'Arial';color: #333333;margin-left: 3px;line-height: 14px;}
.ft26{font: 11px 'Arial';color: #333333;line-height: 14px;}

.p0{text-align: left;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p1{text-align: left;padding-left: 72px;margin-top: 8px;margin-bottom: 0px;}
.p2{text-align: left;padding-left: 72px;margin-top: 4px;margin-bottom: 0px;}
.p3{text-align: left;padding-left: 72px;margin-top: 6px;margin-bottom: 0px;}
.p4{text-align: justify;padding-left: 72px;padding-right: 73px;margin-top: 23px;margin-bottom: 0px;}
.p5{text-align: justify;padding-left: 72px;padding-right: 72px;margin-top: 13px;margin-bottom: 0px;}
.p6{text-align: left;padding-left: 49px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p7{text-align: right;padding-right: 92px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p8{text-align: left;padding-left: 74px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p9{text-align: right;padding-right: 118px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p10{text-align: center;padding-right: 34px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p11{text-align: left;padding-left: 72px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p12{text-align: center;padding-left: 126px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p13{text-align: right;padding-right: 72px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p14{text-align: left;padding-left: 48px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p15{text-align: left;padding-left: 73px;padding-right: 72px;margin-top: 26px;margin-bottom: 0px;}
.p16{text-align: left;margin-top: 0px;margin-bottom: 0px;}
.p17{text-align: left;margin-top: 8px;margin-bottom: 0px;}
.p18{text-align: left;margin-top: 4px;margin-bottom: 0px;}
.p19{text-align: left;margin-top: 6px;margin-bottom: 0px;}
.p20{text-align: justify;padding-left: 1px;padding-right: 69px;margin-top: 23px;margin-bottom: 0px;}
.p21{text-align: justify;padding-left: 7px;padding-right: 69px;margin-top: 8px;margin-bottom: 0px;text-indent: -7px;}
.p22{text-align: justify;padding-left: 8px;padding-right: 72px;margin-top: 15px;margin-bottom: 0px;text-indent: -7px;}
.p23{text-align: justify;padding-left: 8px;padding-right: 70px;margin-top: 12px;margin-bottom: 0px;text-indent: -7px;}
.p24{text-align: justify;margin-top: 10px;margin-bottom: 0px;}

.td0{padding: 0px;margin: 0px;width: 399px;vertical-align: bottom;}
.td1{padding: 0px;margin: 0px;width: 100px;vertical-align: bottom;}
.td2{padding: 0px;margin: 0px;width: 522px;vertical-align: bottom;}
.td3{padding: 0px;margin: 0px;width: 135px;vertical-align: bottom;}
.td4{padding: 0px;margin: 0px;width: 159px;vertical-align: bottom;}
.td5{padding: 0px;margin: 0px;width: 294px;vertical-align: bottom;}

.tr0{height: 51px;}
.tr1{height: 22px;}
.tr2{height: 29px;}
.tr3{height: 24px;}
.tr4{height: 56px;}
.tr5{height: 17px;}
.tr6{height: 31px;}
.tr7{height: 23px;}
.tr8{height: 8px;}
.tr9{height: 47px;}
.tr10{height: 28px;}
.tr11{height: 27px;}
.tr12{height: 30px;}
.tr13{height: 26px;}
.tr14{height: 37px;}
.tr15{height: 2px;}
.tr16{height: 40px;}

.t0{width: 499px;margin-left: 245px;font: bold 11px 'Arial';color: #ffffff;}
.t1{width: 816px;font: 16px 'Arial';color: #00162b;}
.t2{width: 499px;margin-left: 173px;font: bold 11px 'Arial';color: #ffffff;}

</STYLE>
</HEAD>

<BODY>
<DIV id="page_1">
<DIV id="dimg1">
<%= image_tag("099453b4-cb5b-4984-b978-e814bb43103c1x1.jpg", :alt =>"massImage",:id =>"img1") %>
</DIV>

<%= form_for @quote do |f| %>
<DIV id="id_1">
<TABLE cellpadding=0 cellspacing=0 class="t0">
<TR>
	<TD rowspan=2 class="tr0 td0"><P class="p0 ft0">Quick Quote</P></TD>
	<TD class="tr1 td1"><P class="p0 ft1"><%= f.text_field :quote_number, label: "[Quote Number]"%>
  </P></TD>
</TR>
<TR>
	<TD class="tr2 td1"><P class="p0 ft2">&nbsp;</P></TD>
</TR>
</TABLE>
<P class="p1 ft3"><%= f.text_field :quote_date, label: "[DATE OF QUOTE]" , :value =>"[DATE OF QUOTE]" %></P>
<P class="p2 ft4"><%= f.text_field :company_name, label: "[COMPANY NAME]", :value =>"[COMPANY NAME]"  %></P>
<P class="p3 ft5"><%= f.text_field :advisor_name, label: "[ADVISOR NAME]", :value =>"[ADVISOR NAME]"%></P>
<P class="p4 ft6">This estimated fee schedule has been prepared for your plan and is based on the fee quote assumptions below. Any changes in the assumptions could change these proposed fees. Fees are subject to a review of plan operations.</P>
<P class="p5 ft7">This summary is for illustration purposes only and is furnished in response to a request for information from a Financial Representative. It is not a proposal, and is not intended for the use of any plan sponsor. The costs illustrated in the summary represent the pricing that is in effect on the preparation date. To request a proposal, please contact your MassMutual sales representative.</P>
<TABLE cellpadding=0 cellspacing=0 class="t1">
<TR>
	<TD class="tr3 td2"><P class="p6 ft8">Investment Option Expenses</P></TD>
	<TD class="tr3 td3"><P class="p0 ft2">&nbsp;</P></TD>
	<TD class="tr3 td4"><P class="p7 ft9">%</P></TD>
</TR>
<TR>
	<TD class="tr4 td2"><P class="p8 ft11">1.03% Estimated Weighted Average Expense<SPAN class="ft10">1</SPAN></P></TD>
	<TD colspan=2 class="tr4 td5"><P class="p9 ft12">1.93</P></TD>
</TR>
<TR>
	<TD class="tr5 td2"><P class="p8 ft13">0.90% Program and Administrative Charge<SPAN class="ft10">2</SPAN></P></TD>
	<TD colspan=2 class="tr5 td5"><P class="p10 ft14">Total Estimated Weighted</P></TD>
</TR>
<TR>
	<TD rowspan=2 class="tr6 td2"><P class="p8 ft11">1.93% Total Estimated Weighted Average Expense</P></TD>
	<TD colspan=2 class="tr7 td5"><P class="p10 ft14">Average Expense</P></TD>
</TR>
<TR>
	<TD class="tr8 td3"><P class="p0 ft15">&nbsp;</P></TD>
	<TD class="tr8 td4"><P class="p0 ft15">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr9 td2"><P class="p6 ft8">Plan Establishment Fees</P></TD>
	<TD class="tr9 td3"><P class="p0 ft2">&nbsp;</P></TD>
	<TD class="tr9 td4"><P class="p0 ft2">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr10 td2"><P class="p11 ft16">Plan installation</P></TD>
	<TD class="tr10 td3"><P class="p12 ft16">$</P></TD>
	<TD class="tr10 td4"><P class="p13 ft16">0</P></TD>
</TR>
<TR>
	<TD class="tr11 td2"><P class="p11 ft16">Plan enrollment materials</P></TD>
	<TD class="tr11 td3"><P class="p0 ft2">&nbsp;</P></TD>
	<TD class="tr11 td4"><P class="p13 ft16">Included</P></TD>
</TR>
<TR>
	<TD class="tr12 td2"><P class="p11 ft16">Annual maintenance fee<SPAN class="ft17">3</SPAN></P></TD>
	<TD class="tr12 td3"><P class="p12 ft16">$</P></TD>
	<TD class="tr12 td4"><P class="p13 ft16">0</P></TD>
</TR>
<TR>
	<TD class="tr11 td2"><P class="p11 ft16">Annual per participant fee<SPAN class="ft17">3</SPAN></P></TD>
	<TD class="tr11 td3"><P class="p12 ft16">$</P></TD>
	<TD class="tr11 td4"><P class="p13 ft16">0</P></TD>
</TR>
<TR>
	<TD class="tr13 td2"><P class="p11 ft16">Total first year expenses</P></TD>
	<TD class="tr13 td3"><P class="p12 ft16">$</P></TD>
	<TD class="tr13 td4"><P class="p13 ft16">0</P></TD>
</TR>
<TR>
	<TD class="tr14 td2"><P class="p6 ft8">Service Fees</P></TD>
	<TD class="tr14 td3"><P class="p0 ft2">&nbsp;</P></TD>
	<TD class="tr14 td4"><P class="p0 ft2">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr10 td2"><P class="p11 ft16">Plan distribution service fee</P></TD>
	<TD class="tr10 td3"><P class="p12 ft16">$</P></TD>
	<TD class="tr10 td4"><P class="p13 ft16">25</P></TD>
</TR>
<TR>
	<TD class="tr15 td2"><P class="p0 ft18">&nbsp;</P></TD>
	<TD class="tr15 td3"><P class="p0 ft18">&nbsp;</P></TD>
	<TD class="tr15 td4"><P class="p0 ft18">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr11 td2"><P class="p11 ft16">Loan maintenance fee (quarterly)</P></TD>
	<TD class="tr11 td3"><P class="p12 ft16">$</P></TD>
	<TD class="tr11 td4"><P class="p13 ft16">6</P></TD>
</TR>
<TR>
	<TD class="tr13 td2"><P class="p11 ft16">Annual plan trustee fee</P></TD>
	<TD class="tr13 td3"><P class="p12 ft16">$</P></TD>
	<TD class="tr13 td4"><P class="p13 ft16">400</P></TD>
</TR>
<TR>
	<TD class="tr16 td2"><P class="p14 ft8">Fee Quote Assumptions<SPAN class="ft19">4</SPAN></P></TD>
	<TD class="tr16 td3"><P class="p0 ft2">&nbsp;</P></TD>
	<TD class="tr16 td4"><P class="p0 ft2">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr13 td2"><P class="p11 ft16">Total assets in plan</P></TD>
	<TD class="tr13 td3"><P class="p12 ft16">$</P></TD>
	<TD class="tr13 td4"><P class="p13 ft16">250,000</P></TD>
</TR>
<TR>
	<TD class="tr11 td2"><P class="p11 ft16">Annual contributuons to plan</P></TD>
	<TD class="tr11 td3"><P class="p12 ft16">$</P></TD>
	<TD class="tr11 td4"><P class="p13 ft16">100,000</P></TD>
</TR>
<TR>
	<TD class="tr10 td2"><P class="p11 ft16">Number of plan participants</P></TD>
	<TD class="tr10 td3"><P class="p0 ft2">&nbsp;</P></TD>
	<TD class="tr10 td4"><P class="p13 ft16">10</P></TD>
</TR>
<TR>
	<TD class="tr11 td2"><P class="p11 ft16">Average participant account balance</P></TD>
	<TD class="tr11 td3"><P class="p12 ft16">$</P></TD>
	<TD class="tr11 td4"><P class="p13 ft16">25,000</P></TD>
</TR>
</TABLE>
<P class="p15 ft6">The fees on this page cover plan conversion, annual recordkeeping, and processing services. Your Third Party Administrator will bill separately for plan document, compliance, government reporting and other contracted services.</P>
</DIV>
<DIV id="id_2">
<P class="p16 ft20">© 2010 Massachusetts Mutual Life Insurance Company, Springfield, MA. All rights reserved. www.massmutual.com. MassMutual Financial Group is a marketing name for Massachusetts Mutual Life Insurance Company (MassMutual) and its affiliated companies and sales representatives.</P>
</DIV>
</DIV>
<DIV id="page_2">
<DIV id="dimg1">
<%= image_tag("099453b4-cb5b-4984-b978-e814bb43103c2x1.jpg", :alt =>"massImage") %>
</DIV>


<DIV id="id_1">


<TABLE cellpadding=0 cellspacing=0 class="t2">
<TR>
	<TD rowspan=2 class="tr0 td0"><P class="p0 ft0">Quick Quote</P></TD>
	<TD class="tr1 td1"><P class="p0 ft1">
		<%= f.label :quote_number, :class=>"control-label" %>
		<%= f.text_field :quote_number, label: "[QUOTE NUMBER]"%>
	</P></TD>
</TR>
<TR>
	<TD class="tr2 td1"><P class="p0 ft2">&nbsp;</P></TD>
</TR>
</TABLE>
<P class="p17 ft3"><%= f.text_field :quote_date, label: "[DATE OF QUOTE]"%></P>
<P class="p18 ft4"><%= f.text_field :quote_date, label: "[COMPANY NAME]"%></P>
<P class="p19 ft5"><%= f.text_field :quote_date, label:"[ADVISOR NAME]"%></P>

<P class="p20 ft7">If you select the MassMutual RetireSMARTsm Target Date Funds series as your plan’s qualified default investment alternative (“QDIA”) and, upon the initial plan conversion to MassMutual from your prior recordkeeper, you direct your plan’s assets be allocated to the MassMutual Re- tireSMARTsm Target Date Series as the plan’s QDIA unless a separate investment election is made by the participant, you qualify for a credit in the amount of .10% If the Program and Administrative Charge is equal to 0.00% before the credit, the credit may be used by the plan to offset or reduce recordkeeping or other service fees the plan would otherwise pay to us.</P>
<P class="p21 ft6"><SPAN class="ft21">1</SPAN><SPAN class="ft22">The Estimated Weighted Average Expense Ratio calculation is hypothetical and for illustration only. MassMutual has analyzed its book of busi- ness to which your contract will be assigned to determine the average allocation to each of the investment platform’s core asset classes (e.g. large cap equity, bond, fixed account) as of December 31, 2013. The average expense ratio assumes the use of the MassMutual RetireSMART series and the Fixed Account, as well as the investment option with the lowest expense ratio in each of the remaining asset classes and weights the investment options’ expense ratios based on the average book of business asset allocation. With respect to the Fixed Account, since Mass- Mutual credits a </SPAN><NOBR>pre-set</NOBR> guaranteed rate regardless of actual investment performance, no expense is attributed to the average book of business asset allocation to the Fixed Account</P>
<P class="p22 ft6"><SPAN class="ft21">2</SPAN><SPAN class="ft23">We assess a Program and Administrative (“P&A”) Charge on the assets of each Separate Account investment option. This is subject to change if there are changes in the assumptions upon which the fee quote was based.</SPAN></P>
<P class="p23 ft7"><SPAN class="ft21">3</SPAN><SPAN class="ft24">The annual maintenance fee and </SPAN><NOBR>per-participant</NOBR> fee are effective immediately and reviewed annually after each contract <NOBR>year-end.</NOBR> This review will determine the change that will be effective the first quarter of the following contract year. The change is applied each contract year the pro- gram is effective. All contract years end December 31.</P>
<P class="p24 ft26"><SPAN class="ft21">4</SPAN><SPAN class="ft25">Any changes in the assumptions could change these proposed fees. Fees are subject to a review of plan operations.</SPAN></P>
</DIV>
<DIV id="id_2">
<P class="p16 ft20">© 2010 Massachusetts Mutual Life Insurance Company, Springfield, MA. All rights reserved. www.massmutual.com. MassMutual Financial Group is a marketing name for Massachusetts Mutual Life Insurance Company (MassMutual) and its affiliated companies and sales representatives.</P>


<div class="form-actions">
    <%= f.submit class: 'btn btn-primary' %>
    <%= link_to 'Cancel', @user, :class => 'btn' %>
  </div>

<% end %>
</DIV>
</DIV>
</BODY>

