
<style type="text/css">
<!--
span.cls_003{font-family:Arial,serif;font-size:8.1px;color:rgb(254,255,255);font-weight:bold;font-style:normal;text-decoration: none}
div.cls_003{font-family:Arial,serif;font-size:8.1px;color:rgb(254,255,255);font-weight:bold;font-style:normal;text-decoration: none}
span.cls_002{font-family:Arial,serif;font-size:24.1px;color:rgb(43,42,41);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_002{font-family:Arial,serif;font-size:24.1px;color:rgb(43,42,41);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_004{font-family:Arial,serif;font-size:8.1px;color:rgb(158,158,158);font-weight:bold;font-style:normal;text-decoration: none}
div.cls_004{font-family:Arial,serif;font-size:8.1px;color:rgb(158,158,158);font-weight:bold;font-style:normal;text-decoration: none}
span.cls_005{font-family:Arial,serif;font-size:20.1px;color:rgb(33,85,102);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_005{font-family:Arial,serif;font-size:20.1px;color:rgb(33,85,102);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_006{font-family:Arial,serif;font-size:12.1px;color:rgb(94,164,182);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_006{font-family:Arial,serif;font-size:12.1px;color:rgb(94,164,182);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_007{font-family:Arial,serif;font-size:8.1px;color:rgb(92,91,91);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_007{font-family:Arial,serif;font-size:8.1px;color:rgb(92,91,91);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_012{font-family:Times,serif;font-size:12.1px;color:rgb(254,255,255);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_012{font-family:Times,serif;font-size:12.1px;color:rgb(254,255,255);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_008{font-family:Arial,serif;font-size:50.0px;color:rgb(254,255,255);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_008{font-family:Arial,serif;font-size:50.0px;color:rgb(254,255,255);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_009{font-family:Arial,serif;font-size:29.2px;color:rgb(254,255,255);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_009{font-family:Arial,serif;font-size:29.2px;color:rgb(254,255,255);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_010{font-family:Arial,serif;font-size:12.1px;color:rgb(254,255,255);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_010{font-family:Arial,serif;font-size:12.1px;color:rgb(254,255,255);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_011{font-family:Arial,serif;font-size:7.0px;color:rgb(254,255,255);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_011{font-family:Arial,serif;font-size:7.0px;color:rgb(254,255,255);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_013{font-family:Arial,serif;font-size:12.1px;color:rgb(33,85,102);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_013{font-family:Arial,serif;font-size:12.1px;color:rgb(33,85,102);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_014{font-family:Arial,serif;font-size:7.0px;color:rgb(33,85,102);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_014{font-family:Arial,serif;font-size:7.0px;color:rgb(33,85,102);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_015{font-family:Times,serif;font-size:7.0px;color:rgb(254,255,255);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_015{font-family:Times,serif;font-size:7.0px;color:rgb(254,255,255);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_016{font-family:Arial,serif;font-size:7.0px;color:rgb(33,85,102);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_016{font-family:Arial,serif;font-size:7.0px;color:rgb(33,85,102);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_017{font-family:Arial,serif;font-size:4.7px;color:rgb(92,91,91);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_017{font-family:Arial,serif;font-size:4.7px;color:rgb(92,91,91);font-weight:normal;font-style:normal;text-decoration: none}
-->
</style>
<script type="text/javascript" src="373ae268-3b8a-11e5-9555-002590d31986_id_QuickQuote-Output_v1_files/wz_jsgraphics.js"></script>
</head>
<body>
<div style="position:absolute;left:50%;margin-left:-306px;top:0px;width:612px;height:792px;border-style:outset;overflow:hidden">
<div style="position:absolute;left:0px;top:0px">
<%= image_tag("background1.jpg" ,:width => "612",:height=>"792") %></div>
<div style="position:absolute;left:482.89px;top:34.11px" class="cls_003"><span class="cls_003"><%= @quote.quote_number %></span></div>
<div style="position:absolute;left:183.60px;top:30.89px" class="cls_002"><span class="cls_002">Quick Quote</span></div>
<div style="position:absolute;left:54.00px;top:74.32px" class="cls_004"><span class="cls_004"><%= @quote.quote_date %></span></div>
<div style="position:absolute;left:54.00px;top:89.12px" class="cls_005"><span class="cls_005"><%= @quote.company_name %></span></div>
<div style="position:absolute;left:54.00px;top:117.74px" class="cls_006"><span class="cls_006"><%= @quote.advisor_name %></span></div>
<div style="position:absolute;left:53.63px;top:147.80px" class="cls_007"><span class="cls_007">This estimated fee schedule has been prepared for your plan and is based on the fee quote assumptions below. Any changes in the assumptions</span></div>
<div style="position:absolute;left:54.23px;top:160.80px" class="cls_007"><span class="cls_007">could change these proposed fees. Fees are subject to a review of plan operations.</span></div>
<div style="position:absolute;left:53.63px;top:182.80px" class="cls_007"><span class="cls_007">This summary is for illustration purposes only and is furnished in response to a request for information from a Financial Representative.  It is not</span></div>
<div style="position:absolute;left:54.25px;top:195.80px" class="cls_007"><span class="cls_007">a proposal, and is not intended for the use of any plan sponsor. The costs illustrated in the summary represent the pricing that is in effect on the</span></div>
<div style="position:absolute;left:54.58px;top:208.80px" class="cls_007"><span class="cls_007">preparation date.  To request a proposal, please contact your MassMutual sales representative.</span></div>
<div style="position:absolute;left:36.40px;top:243.86px" class="cls_012"><span class="cls_012">Investment Option Expenses</span></div>
<div style="position:absolute;left:437.15px;top:221.44px" class="cls_008"><span class="cls_008">1.93</span><span class="cls_009"><sup>%</sup></span></div>
<div style="position:absolute;left:55.31px;top:264.50px" class="cls_010"><span class="cls_010">1.03%   Estimated Weighted Average Expense</span><span class="cls_011"><sup>1</sup></span></div>
<div style="position:absolute;left:423.43px;top:277.55px" class="cls_010"><span class="cls_010">Total Estimated Weighted</span></div>
<div style="position:absolute;left:55.31px;top:283.49px" class="cls_010"><span class="cls_010">0.90%   Program and Administrative Charge</span><span class="cls_011"><sup>2</sup></span></div>
<div style="position:absolute;left:444.08px;top:292.55px" class="cls_010"><span class="cls_010">Average Expense</span></div>
<div style="position:absolute;left:55.31px;top:302.50px" class="cls_010"><span class="cls_010">1.93%   Total Estimated Weighted Average Expense</span></div>
<div style="position:absolute;left:36.40px;top:337.65px" class="cls_012"><span class="cls_012">Plan Establishment Fees</span></div>
<div style="position:absolute;left:54.00px;top:358.47px" class="cls_013"><span class="cls_013">Plan installation</span></div>
<div style="position:absolute;left:486.00px;top:358.47px" class="cls_013"><span class="cls_013">$</span></div>
<div style="position:absolute;left:551.33px;top:358.47px" class="cls_013"><span class="cls_013">0</span></div>
<div style="position:absolute;left:54.00px;top:379.07px" class="cls_013"><span class="cls_013">Plan enrollment materials</span></div>
<div style="position:absolute;left:514.00px;top:379.07px" class="cls_013"><span class="cls_013">Included</span></div>
<div style="position:absolute;left:54.00px;top:399.68px" class="cls_013"><span class="cls_013">Annual maintenance fee</span><span class="cls_014"><sup>3</sup></span></div>
<div style="position:absolute;left:486.00px;top:399.68px" class="cls_013"><span class="cls_013">$</span></div>
<div style="position:absolute;left:551.33px;top:399.68px" class="cls_013"><span class="cls_013">0</span></div>
<div style="position:absolute;left:54.00px;top:420.28px" class="cls_013"><span class="cls_013">Annual per participant fee</span><span class="cls_014"><sup>3</sup></span></div>
<div style="position:absolute;left:486.00px;top:420.28px" class="cls_013"><span class="cls_013">$</span></div>
<div style="position:absolute;left:551.33px;top:420.28px" class="cls_013"><span class="cls_013">0</span></div>
<div style="position:absolute;left:54.00px;top:440.89px" class="cls_013"><span class="cls_013">Total first year expenses</span></div>
<div style="position:absolute;left:486.00px;top:440.89px" class="cls_013"><span class="cls_013">$</span></div>
<div style="position:absolute;left:551.33px;top:440.89px" class="cls_013"><span class="cls_013">0</span></div>
<div style="position:absolute;left:36.41px;top:469.12px" class="cls_012"><span class="cls_012">Service Fees</span></div>
<div style="position:absolute;left:54.00px;top:490.17px" class="cls_013"><span class="cls_013">Plan distribution service fee</span></div>
<div style="position:absolute;left:486.00px;top:490.17px" class="cls_013"><span class="cls_013">$</span></div>
<div style="position:absolute;left:544.66px;top:490.17px" class="cls_013"><span class="cls_013">25</span></div>
<div style="position:absolute;left:54.00px;top:510.77px" class="cls_013"><span class="cls_013">Loan maintenance fee (quarterly)</span></div>
<div style="position:absolute;left:486.00px;top:510.77px" class="cls_013"><span class="cls_013">$</span></div>
<div style="position:absolute;left:551.33px;top:510.77px" class="cls_013"><span class="cls_013">6</span></div>
<div style="position:absolute;left:54.00px;top:531.38px" class="cls_013"><span class="cls_013">Annual plan trustee fee</span></div>
<div style="position:absolute;left:486.00px;top:531.38px" class="cls_013"><span class="cls_013">$</span></div>
<div style="position:absolute;left:537.98px;top:531.38px" class="cls_013"><span class="cls_013">400</span></div>
<div style="position:absolute;left:36.37px;top:559.61px" class="cls_012"><span class="cls_012">Fee Quote Assumptions</span><span class="cls_015"><sup>4</sup></span></div>
<div style="position:absolute;left:54.00px;top:580.66px" class="cls_013"><span class="cls_013">Total assets in plan</span></div>
<div style="position:absolute;left:486.00px;top:580.66px" class="cls_013"><span class="cls_013">$</span></div>
<div style="position:absolute;left:514.63px;top:580.66px" class="cls_013"><span class="cls_013">250,000</span></div>
<div style="position:absolute;left:54.00px;top:601.26px" class="cls_013"><span class="cls_013">Annual contributuons to plan</span></div>
<div style="position:absolute;left:486.00px;top:601.26px" class="cls_013"><span class="cls_013">$</span></div>
<div style="position:absolute;left:514.63px;top:601.26px" class="cls_013"><span class="cls_013">100,000</span></div>
<div style="position:absolute;left:54.00px;top:621.87px" class="cls_013"><span class="cls_013">Number of plan participants</span></div>
<div style="position:absolute;left:544.66px;top:621.87px" class="cls_013"><span class="cls_013">10</span></div>
<div style="position:absolute;left:54.00px;top:642.47px" class="cls_013"><span class="cls_013">Average participant account balance</span></div>
<div style="position:absolute;left:486.00px;top:642.47px" class="cls_013"><span class="cls_013">$</span></div>
<div style="position:absolute;left:521.30px;top:642.47px" class="cls_013"><span class="cls_013">25,000</span></div>
<div style="position:absolute;left:53.63px;top:678.80px" class="cls_007"><span class="cls_007">The fees on this page cover plan conversion, annual recordkeeping, and processing services. Your Third Party Administrator will bill separately</span></div>
<div style="position:absolute;left:54.60px;top:691.80px" class="cls_007"><span class="cls_007">for plan document, compliance, government reporting and other contracted services.</span></div>
<div style="position:absolute;left:54.00px;top:740.57px" class="cls_016"><span class="cls_016">© 2010 Massachusetts Mutual Life Insurance Company, Springfield, MA. All rights reserved. </span><A HREF="http://www.massmutual.com./">www.massmutual.com.</A> MassMutual Financial Group is a marketing name</div>
<div style="position:absolute;left:54.00px;top:748.97px" class="cls_016"><span class="cls_016">for Massachusetts Mutual Life Insurance Company (MassMutual) and its affiliated companies and sales representatives.</span></div>
</div>
<div style="position:absolute;left:50%;margin-left:-306px;top:802px;width:612px;height:792px;border-style:outset;overflow:hidden">
<div style="position:absolute;left:0px;top:0px">
<%= image_tag("background2.jpg",:width => "612",:height => "792") %></div>
<div style="position:absolute;left:482.89px;top:34.11px" class="cls_003"><span class="cls_003">[QUOTE NUMBER]</span></div>
<div style="position:absolute;left:183.60px;top:30.89px" class="cls_002"><span class="cls_002">Quick Quote</span></div>
<div style="position:absolute;left:54.00px;top:74.32px" class="cls_004"><span class="cls_004">[DATE OF QUOTE]</span></div>
<div style="position:absolute;left:54.00px;top:89.12px" class="cls_005"><span class="cls_005">[COMPANY NAME]</span></div>
<div style="position:absolute;left:54.00px;top:117.74px" class="cls_006"><span class="cls_006">[ADVISOR NAME]</span></div>
<div style="position:absolute;left:54.57px;top:147.42px" class="cls_007"><span class="cls_007">If you select the MassMutual RetireSMARTsm Target Date Funds series as your plan’s qualified default investment alternative (“QDIA”) and,</span></div>
<div style="position:absolute;left:54.45px;top:160.42px" class="cls_007"><span class="cls_007">upon the initial plan conversion to MassMutual from your prior recordkeeper, you direct your plan’s assets be allocated to the MassMutual Re-</span></div>
<div style="position:absolute;left:54.59px;top:173.42px" class="cls_007"><span class="cls_007">tireSMARTsm Target Date Series as the plan’s QDIA unless a separate investment election is made by the participant, you qualify for a credit in</span></div>
<div style="position:absolute;left:54.59px;top:186.42px" class="cls_007"><span class="cls_007">the amount of .10%  If the Program and Administrative Charge is equal to 0.00% before the credit, the credit may be used by the plan to offset or</span></div>
<div style="position:absolute;left:54.45px;top:199.42px" class="cls_007"><span class="cls_007">reduce recordkeeping or other service fees the plan would otherwise pay to us.</span></div>
<div style="position:absolute;left:54.20px;top:221.42px" class="cls_017"><span class="cls_017"><sup>1</sup></span><span class="cls_007"> The Estimated Weighted Average Expense Ratio calculation is hypothetical and for illustration only. MassMutual has analyzed its book of busi-</span></div>
<div style="position:absolute;left:59.47px;top:234.42px" class="cls_007"><span class="cls_007">ness to which your contract will be assigned to determine the average allocation to each of the investment platform’s core asset classes (e.g.</span></div>
<div style="position:absolute;left:59.72px;top:247.42px" class="cls_007"><span class="cls_007">large cap equity, bond, fixed account) as of December 31, 2013. The average expense ratio assumes the use of the MassMutual RetireSMART</span></div>
<div style="position:absolute;left:59.42px;top:260.42px" class="cls_007"><span class="cls_007">series and the Fixed Account, as well as the investment option with the lowest expense ratio in each of the remaining asset classes and weights</span></div>
<div style="position:absolute;left:59.62px;top:273.42px" class="cls_007"><span class="cls_007">the investment options’ expense ratios based on the average book of business asset allocation. With respect to the Fixed Account, since Mass-</span></div>
<div style="position:absolute;left:59.66px;top:286.42px" class="cls_007"><span class="cls_007">Mutual credits a pre-set guaranteed rate regardless of actual investment performance, no expense is attributed to the average book of business</span></div>
<div style="position:absolute;left:59.27px;top:299.42px" class="cls_007"><span class="cls_007">asset allocation to the Fixed Account</span></div>
<div style="position:absolute;left:54.76px;top:321.42px" class="cls_017"><span class="cls_017"><sup>2</sup></span><span class="cls_007"> We assess a Program and Administrative (“P&A”) Charge on the assets of each Separate Account investment option. This is subject to change</span></div>
<div style="position:absolute;left:60.28px;top:334.42px" class="cls_007"><span class="cls_007">if there are changes in the assumptions upon which the fee quote was based.</span></div>
<div style="position:absolute;left:54.79px;top:356.42px" class="cls_017"><span class="cls_017"><sup>3</sup></span><span class="cls_007"> The annual maintenance fee and per-participant fee are effective immediately and reviewed annually after each contract year-end. This review</span></div>
<div style="position:absolute;left:60.05px;top:369.42px" class="cls_007"><span class="cls_007">will determine the change that will be effective the first quarter of the following contract year. The change is applied each contract year the pro-</span></div>
<div style="position:absolute;left:59.85px;top:382.42px" class="cls_007"><span class="cls_007">gram is effective. All contract years end December 31.</span></div>
<div style="position:absolute;left:54.37px;top:404.42px" class="cls_017"><span class="cls_017"><sup>4</sup></span><span class="cls_007"> Any changes in the assumptions could change these proposed fees. Fees are subject to a review of plan operations.</span></div>
<div style="position:absolute;left:54.00px;top:740.57px" class="cls_016"><span class="cls_016">© 2010 Massachusetts Mutual Life Insurance Company, Springfield, MA. All rights reserved. </span><A HREF="http://www.massmutual.com./">www.massmutual.com.</A> MassMutual Financial Group is a marketing name</div>
<div style="position:absolute;left:54.00px;top:748.97px" class="cls_016"><span class="cls_016">for Massachusetts Mutual Life Insurance Company (MassMutual) and its affiliated companies and sales representatives.</span></div>
</div>
<p><%= link_to 'Printable Receipt (PDF)', quote_path(@quote, format: 'pdf') %></p>







