<!DOCTYPE html>
<html>
<head>
  <title>Pdf</title>
  <style type="text/css">
    <%= Rails.application.assets.find_asset('application.css.scss').to_s.html_safe %>
</style>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
<!--   <%= csrf_meta_tags %> -->
</head>
<body>

<%= render 'layouts/header' %>

<div class="container">
  <%= yield %>
</div>

</body>
</html>